body {
    background-color: aquamarine;
}
p {
    color: crimson;
}
/*picture styles start*/
.image {
    text-align: center;
}
/*picture styles end*/
/*navbar start*/
nav{
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    
}
.navbar {
    display: inline;
    margin-left: 40px;
    text-align:justify;
}
/*navbar end*/