h1 {
  margin-top: 3em;
  text-align:center
 
}
.cont-container {
  border: 1em;
  border-style: double;
  border-color: black;
  text-align: center;
  width: 55%;
  align-self: center;
  margin-left: 23%;
  margin-top: 5em;
}