/*Contact page start*/
.ccenter {
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
    border: 2px solid black;
    height: 600px;
    width: 1000px;
    background-image: url("https://cdn.hipwallpaper.com/i/48/82/ZMJLWk.jpg");
    background-size: 100% 100%;
    position: absolute;
    z-index: 8;
    opacity: 0.6;
  }
  .bccenter {
    top: 250px;
    margin-left: 39%;
    text-align: center;
    margin-top: 90px;
    position: absolute;
    z-index: 9;
  }
  /* Contact End */