h1 {
  padding-top: 1em;
  text-align:center
 
}
.cont-container {
  border: 1em;
  border-style: double;
  border-color: black;
  text-align: center;
  width: 55%;
  align-self: center;
  margin-left: 23%;
  margin-top: 2em;
  background-color:azure;
  background-blend-mode: color;
  padding:2em;
}