/* Services Start*/
.sinput {
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  width: 60%;
  height:55vh;
  margin-left: 20em;
  margin-top: 5em;

}

.tinput{
  display:inline-flex;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  width: 40vw;
}
label {
  display: inline-block;
  text-align: left;
  width: 14vw;
  height:5vh;
  
}

/* Services End*/