/* Services Start*/
  .sinput {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    width: 50%;
    margin-left: 24em;
    margin-top: 5em;
  }
  .checkbox {
    width:50%;
    text-align: center;

  }
  /* Services End*/